## Power10 Rankings Challenge

> **Start** by hitting the ```Run notebook``` button. If you don't quite get how the data is getting into the dataframe, no problems, this challenge is solely based on ***cleaning*** up Pandas **dataframes**.

In [1]:
import pandas as pd

url = "https://www.thepowerof10.info/rankings/rankinglist.aspx?event=100&agegroup=ALL&sex=W&year=2020"

dfs = pd.read_html(url) # will return list of all tables within html as Pandas DataFrames

len(dfs) # pandas has returned 5 possible data tables from HTML Page.

dfs[3] # using browser inspector and by outputting all tables (e.g. dfs[0]) individually, you'll find that the 4th ([3]) table is the table with the data.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,100 Women Overall 2020 to 13.2 (Auto timed onl...,Head to Head Top 10,Head to Head Top 10,Head to Head Top 10,Head to Head Top 10
1,Rank,Perf,NaN,NaN,PB,NaN,Name,NaN,Year,Coach,Club,Venue,Date,NaN
2,1,11.16,NaN,0.1,11.09,NaN,Imani Lansiquot,NaN,1,Steve Fudge,Sutton & District,"Leverkusen, GER",16 Aug 20,NaN
3,2,11.27,NaN,0.0,11.16,NaN,Kristal Awuah,U23,-2,Matthew Thomas,Herne Hill,"Doha, QAT",25 Sep 20,NaN
4,3,11.31,NaN,1.3,10.90,NaN,Daryll Neita,NaN,2,Rana Reider,Cambridge H,"Bydgoszcz, POL",19 Aug 20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,NaN,12.74,NaN,-0.5,12.23,NaN,Praise Owoeye,U20,-6,Anita Richardson,Sale Harriers Manchester,Stretford,29 Aug 20,NaN
466,NaN,12.71,w,2.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stretford,15 Aug 20,NaN
467,NaN,12.75,NaN,0.0,12.52/12.5,NaN,Synne Frydenlund,NaN,1,Laura Turner-Alleyne,Harrow,Worthing,11 Aug 20,NaN
468,NaN,12.9,NaN,-0.7,12.99/12.8,NaN,Chiara Ramponi,U23,-2,Iheanyi Ihediwa,Trafford,Stretford,1 Aug 20,NaN
469,NaN,12.91,NaN,0.1,12.90/12.8,NaN,Vanessa Ansuaa,U20,-6,Craig Andrew,Shaftesbury Barnet,Lee Valley,2 Aug 20,NaN

## Your task is to clean up the data and write the data into a new CSV file!
> Tips and things to look out for below:

General
+ Have a look at the [actual table](https://www.thepowerof10.info/rankings/rankinglist.aspx?event=100&agegroup=ALL&sex=W&year=2020) you are trying to scrape.
+ Inspect and explore the raw dataframe, make a list of things you'll want to do and order or reorder them as you go along. It should help if you create a separate code cell for each step and version control your work once you have achieved something.

DataFrame Specific
+ The headers are actually on the 2nd row down.
+ Start with the first column (the `Rank` column), there is alot you can clean up just by removing non numeric values ;)
+ There is a section of Resident Non UK Athletes and their results at the end of the table you can ignore.
+ Some athletes have more than one result (normally due to them having a windy time) and these wont have a value in the `Rank` column...you can ignore them.
+ The `Date` data type is an ```object``` (string), you'll want a datatime object too.
+ There are columns that you will want to keep but contain a lot of `NaN` values. Make sure you replace them with a ***default*** value (even an empty string `''`).
+ There is no indication of `sport`, `event` or `gender`. Having a column with the same values for each row is better than having nothing that gives the data some context.

To start you off...
+ You can inspect all unique values in the `Rank` column like so:

In [2]:
## remove row 1 ##
df = dfs[3]
df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)

## promote 1st row to header ##
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

## df['Rank'].unique()##  #Output all unique values in first (0) column - Can see this column comprises of data numbers and text Drop rows where value is not an integer
##so... non integers from columns ##
df = df[pd.to_numeric(df['Rank'], errors='coerce').notnull()]

## df['Rank'].unique() ##  #Now all items are numeric 

##remove emoji's from Name and Coach columns##
df['Coach'] = df['Coach'].replace('[^a-zA-Z0-9 ]', '', regex=True)
df['Name'] = df['Name'].replace('[^a-zA-Z0-9 ]', '', regex=True)

##change Date column from object to datetime - have to use b instead of m as it's letters not numbers, and small y rather than big Y as year is 2 numbers not 4 ## 
df['Date'] = pd.to_datetime(df['Date'], format='%d %b %y')
#How to get rid of 00:00:00 - or doesn't it matter? ##

##removes columsn with all nan values (100% missing / 'nan')##
df=df.dropna(axis=1,how='all')
##replace all nan values with blanks##
df=df.fillna('')
##write data to csv##
df.to_csv('/work/4.Power10 Rankings Challenge/data/Power10_cleaned.csv')
df

1,Rank,Perf,NaN,PB,NaN,Name,NaN,Year,Coach,Club,Venue,Date
2,1,11.16,0.1,11.09,,Imani Lansiquot,,1,Steve Fudge,Sutton & District,"Leverkusen, GER",2020-08-16
3,2,11.27,0.0,11.16,,Kristal Awuah,U23,-2,Matthew Thomas,Herne Hill,"Doha, QAT",2020-09-25
4,3,11.31,1.3,10.90,,Daryll Neita,,2,Rana Reider,Cambridge H,"Bydgoszcz, POL",2020-08-19
6,4,11.39,1.8,11.31,,Amy Hunt,U20,-5,Joseph McDonnell,Charnwood,"GÃ¶teborg, SWE",2020-08-29
8,5,11.71,1.1,11.36,,Nia WedderburnGoodison,U17,-8,,Harrow,Dagenham,2020-08-23
...,...,...,...,...,...,...,...,...,...,...,...,...
453,339,13.2,,13.2,PB,SophiaReid Thomas,U15,,,Carmarthen,Whitehall,2020-09-12
454,339,13.2,1.5,13.92/13.2,PB,Kate Richardson,U15,-9,,Pitreavie,Dunfermline,2020-09-20
455,339,13.2,0.8,13.55/13.2,PB,Lynn Harvey,U20,-6,,Pitreavie,Dunfermline,2020-09-20
456,339,13.2,,13.12/12.6,,Zoe Payne,U17,-8,Alan Wymant,Corby,Corby,2020-09-22
457,339,13.2,0.0,12.83/12.8,,Eva Tyler,U15,-8,,Hereford,Sutton Coldfield,2020-10-17

## Bonus Task! 
> Have this notebook ***automatically*** fetch the **Men and Women's 100m, 200m and 400m Rankings** on a single notebook run.

+ Loops
+ String Formatting
+ Pay attention to URL when looking at different event/gender tables on Power10 Web Page.
+ Your notebook should output a **separate** CSV file for each **gender/event**.  Make sure these CSV files are ***named*** accordingly.

#### \[Optional\] Make it a Script!
> Turn your **bonus task** (with loop) into a **Python script**. 

You can **run** the **script** via your project ***temrminal*** or via a ***code cell***...just remember the ***bang*** (`!`) infront of your terminal commands ***if*** running them via a code cell...e.g.

In [3]:
# !python power10_scraper.py

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=82522c04-b10e-4808-ba92-f37909eae5ea' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>